@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Colores */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
    height: 100vh;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

.card{
    width: 90%;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
}

@media (min-width: 768px){
    .card{
        max-width: 42rem;
        margin: 0 auto;
    }
}

.card__head{
    width: 100%;
}


.card__imagen{
    border-radius: 50%;
    border: 4px solid #fff;
    width: 10rem;
    height: 10rem;
    margin-top: -5.2rem;
}

.card__nombre{
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 2.4rem;
    margin: 2rem 0;
}

.card__edad,
.card__ubicacion{
    color: var(--dark-gray);
    font-weight: 400;
}

.card__ubicacion{
    margin-bottom: 2rem;
}

.card__estadisticas{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid hsla(227, 10%, 46%, 0.2);
    padding: 3rem 5rem;
}

.card__numero{
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: .5rem;
}


.card__descripcion{
    color: var(--dark-gray);
    margin: 0;
    font-size: 1.7rem;
}